body {
    background-color: #b20731;
    font-family: 'Montserrat';
    font-style: normal;
}


/* navbar start */

.imgLogo {
    height: 47px;
    /* margin-left: -10vw; */
}

@media screen and (max-width: 1000px) {
    .navBarTop {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .navComponent {
        margin-right: 3vw;
    }
    .navComponentWrap {
        margin-left: 65px;
    }
}

@media screen and (max-width: 1280px) {
    .navComponent {
        margin-right: 0.5vw;
    }
}

.navComponent {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    color: #ffffff;
}

.navComponent:hover {
    border-bottom: 2px solid #ffffff;
    color: white;
}

#footer {
    background-color: black;
    color: white;
}

.lrsFooter p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: white;
}

.itemFooter {
    font-family: 'Montserrat';
    font-style: normal;
    color: white;
}

.itemFooter h1 {
    font-weight: 700;
}

.itemFooter h2 {
    font-weight: 500;
}

.copyRightFooter {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .lrsFooter {
        margin-left: 8vw;
        width: 80%;
    }
    .lrsFooter img {
        height: 8vw;
    }
    .lrsFooter p {
        font-size: 4vw;
        margin-right: 3vw;
        margin-top: 0.5vw;
    }
    .itemFooter {
        width: 25vw;
        margin-left: 8vw;
    }
    .itemFooter h1 {
        font-size: 3.8vw;
        margin-bottom: 2.75vw;
        margin-top: 3vw;
    }
    .itemFooter h2 {
        font-size: 2.75vw;
        margin-bottom: 2.2vw;
    }
    .imageSocialMedia {
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-left: 8vw;
    }
    .imageSocialMedia p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .imageSocialMedia img {
        height: 4.5vw;
        margin-right: 3.5vw;
    }
    .copyRightFooter {
        font-size: 2.75vw;
        padding-top: 1.5vw;
        padding-bottom: 3vw;
        border-top: 0.951856px solid rgba(212, 212, 212, 0.363);
        margin-top: 3vw;
    }
}

@media screen and (min-width: 900px) {
    .lrsFooter img {
        height: 3vw;
    }
    .lrsFooter p {
        font-size: 1.3vw;
        margin-right: 3vw;
        margin-top: 0.5vw;
    }
    .itemFooter {
        margin-left: 8vw;
    }
    .itemFooter h1 {
        font-size: 1.2vw;
        margin-bottom: 1.75vw;
    }
    .itemFooter h2 {
        font-size: 1.1vw;
        margin-bottom: 1.2vw;
    }
    .imageSocialMedia {
        margin-top: 1.5vw;
    }
    .imageSocialMedia img {
        height: 1.5vw;
        margin-right: 1.5vw;
    }
    .copyRightFooter {
        font-size: 1.3vw;
        padding-top: 1.5vw;
        padding-bottom: 3vw;
        border-top: 0.951856px solid rgba(255, 255, 255, 0.363);
        margin-top: 3vw;
    }
}


/* Start halaman pertama */

#firstPage {
    color: white;
    margin-left: 5vw;
    width: 40vw;
}

#firstPage h1 {
    font-weight: 900;
}

#firstPage h1 span {
    color: #FEDB47;
}

#firstPage p {
    font-weight: 700;
}

#firstPage button {
    color: #B20731;
    border: transparent;
    background: #FFFFFF;
    font-weight: 700;
}

@media screen and (max-width: 900px) {
    #firstPage .wrapFirstPage {
        /* background-color: aqua; */
        width: 85vw;
        display: flex;
        justify-content: center;
        /* align-self: center; */
    }
    #firstPage h1 {
        /* background-color: black; */
        margin-top: 3vw;
        font-size: 8.3vw;
        text-align: center;
        /* width: 45vw; */
    }
    #firstPage p {
        /* background-color: #FEDB47; */
        font-size: 2.75vw;
        width: 85%;
        margin-top: 1.5vw;
        margin-bottom: 4vw;
        text-align: center;
    }
    #firstPage button {
        height: 10vw;
        width: 35vw;
        font-size: 3vw;
        border-radius: 5vw;
    }
    #firstPage .bottomFirstPage {
        contain: '';
        /* height: 5vw; */
    }
    #firstPage .topImageFirstPage {
        content: '';
        margin-top: -30vw;
    }
}

@media screen and (min-width: 900px) {
    #firstPage .wrapFirstPage {
        contain: '';
        /* background-color: aqua; */
        width: 50vw;
    }
    #firstPage h1 {
        /* background-color: black; */
        margin-top: 8vw;
        font-size: 5.3vw;
    }
    #firstPage p {
        /* background-color: #FEDB47; */
        font-size: 1.28vw;
        width: 35vw;
        margin-top: 1.5vw;
        margin-bottom: 2vw;
    }
    #firstPage button {
        height: 4vw;
        width: 13vw;
        font-size: 1vw;
        border-radius: 2vw;
    }
    #firstPage .bottomFirstPage {
        contain: '';
        height: 12vw;
    }
}

@media screen and (max-width: 900px) {
    .wrapImageSecond {
        position: absolute;
        top: -5vw;
        left: -2vw;
    }
    .wrapImageSecond img {
        position: absolute;
        height: 70vw;
    }
    .wrapImageSecond .image1 {
        left: -12vw;
    }
    .wrapImageSecond .image2 {
        top: 0vw;
        left: 50vw;
    }
    .wrapImageSecond .image3 {
        top: 15vw;
        left: 18vw;
    }
    .positionImageSecond {
        position: relative;
        /*Harus diganti ke relative saat pindah ke layout 900px*/
        overflow: hidden;
        /* background-color: #FEDB47; */
        width: 100vw;
        height: 73vw;
        left: -5vw;
        top: 25vw;
    }
}

@media screen and (min-width: 900px) {
    .wrapImageSecond {
        position: absolute;
        top: -5vw;
        left: -2vw;
    }
    .wrapImageSecond img {
        position: absolute;
        height: 40vw;
    }
    .wrapImageSecond .image2 {
        top: 0vw;
        left: 36vw;
    }
    .wrapImageSecond .image3 {
        top: 8vw;
        left: 18vw;
    }
    .positionImageSecond {
        position: absolute;
        /*Harus diganti ke relative saat pindah ke layout 900px*/
        overflow: hidden;
        /* background-color: #FEDB47; */
        width: 53vw;
        height: 39vw;
        right: 0px;
        top: 25vw;
    }
}


/* End halaman pertama */


/* Start halaman kedua */

#secondPage {
    background-color: #212121;
    border-radius: 4vw 4vw 0px 0px;
}

.secondPageTittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.secondPageSubTittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .secondPageTittle {
        font-size: 6vw;
        width: 30vw;
        /* background-color: #101820; */
    }
    .secondPageSubTittle {
        font-size: 3vw;
        width: 35vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
    .secondPageTittle {
        margin-top: 1vw;
        font-size: 4vw;
    }
    .secondPageSubTittle {
        margin-top: 0.5vw;
        font-size: 2vw;
        width: 30vw;
    }
}

@media screen and (min-width: 1080px) {
    .secondPageTittle {
        font-size: 3vw;
    }
    .secondPageSubTittle {
        font-size: 1.3vw;
        width: 20vw;
    }
}

.wrapBrandSecondPage {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.wrapBrandSecondPage::-webkit-scrollbar {
    display: none;
}


/* .wrapBrandSecondPage::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.wrapBrandSecondPage::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

.wrapBrandSecondPage::-webkit-scrollbar-thumb {
    background: red;
    height: 2px;
} */

.boxWrapBrand {
    content: '';
    background-color: #600018;
    position: relative;
    overflow: hidden;
}

.marginRightBrand {
    content: '';
    position: relative;
    height: 100%;
    background-color: #212121;
}

.wrapItemMenuBrand {
    position: absolute;
    z-index: 2;
}

.logoBrand {}

.textBrand {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.subTextBrand {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.selengkapnyaBrand {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.arrowSelengkapnya {}

.imageMenuBrand {
    position: absolute;
    z-index: 1;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    .boxWrapBrand {
        width: 46vw;
        height: 57vw;
        border-radius: 4vw;
    }
    .marginRightBrand {
        width: 1vw;
    }
    .wrapItemMenuBrand {
        padding: 5vw 3vw;
        top: 0px;
    }
    .logoBrand {
        height: 5.5vw;
    }
    .textBrand {
        font-size: 3.5vw;
        margin-left: 0.5vw;
    }
    .subTextBrand {
        font-size: 3.1vw;
        margin-top: 3vw;
        margin-bottom: 0.5vw;
    }
    .selengkapnyaBrand {
        font-size: 2.75vw;
    }
    .arrowSelengkapnya {
        margin-left: 0.4vw;
        height: 2.7vw;
    }
    .imageMenuBrand {
        top: 19vw;
        height: 45vw;
        width: 45vw;
        /* background-color: #101820; */
    }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
    .boxWrapBrand {
        width: 23vw;
        height: 25vw;
        border-radius: 2vw;
    }
    .marginRightBrand {
        width: 1vw;
    }
    .wrapItemMenuBrand {
        padding: 3vw 2vw;
        top: 0px;
    }
    .logoBrand {
        height: 2.5vw;
    }
    .textBrand {
        font-size: 1.75vw;
        margin-left: 0.5vw;
    }
    .subTextBrand {
        font-size: 1.1vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
    }
    .selengkapnyaBrand {
        font-size: 1.1vw;
    }
    .arrowSelengkapnya {
        margin-left: 0.4vw;
        height: 0.7vw;
    }
    .imageMenuBrand {
        top: 5vw;
        height: 25vw;
        width: 25vw;
    }
}

@media screen and (min-width: 1080px) {
    .boxWrapBrand {
        width: 23vw;
        height: 25vw;
        border-radius: 2vw;
    }
    .marginRightBrand {
        width: 1vw;
    }
    .wrapItemMenuBrand {
        padding: 3vw 2vw;
        top: 0px;
    }
    .logoBrand {
        height: 2.5vw;
    }
    .textBrand {
        font-size: 1.75vw;
        margin-left: 0.5vw;
    }
    .subTextBrand {
        font-size: 1.1vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
    }
    .selengkapnyaBrand {
        font-size: 1.1vw;
    }
    .arrowSelengkapnya {
        margin-left: 0.4vw;
        height: 0.7vw;
    }
    .imageMenuBrand {
        top: 5vw;
        height: 25vw;
        width: 25vw;
    }
}


/* End halaman kedua */


/* Start halaman ketiga */

#thirdPage {
    background-color: white;
}

#thirdPage .tittle {
    font-weight: 900;
}

#thirdPage .wrapBox {
    background-color: #F6F6F6;
}

#thirdPage .wrapBox .boxInsideWrap {
    content: '';
    background-color: #212121;
}

#thirdPage .wrapBox h1 {
    font-weight: 700;
    color: #242331;
}

#thirdPage .wrapBox p {
    font-weight: 400;
    color: #212121;
}

@media screen and (max-width: 900px) {
    #thirdPage .tittle {
        font-size: 5.25vw;
    }
    #thirdPage .wrapBox {
        width: 90vw;
        margin-right: 1vw;
        margin-bottom: 3vw;
        border-radius: 3.5vw;
    }
    #thirdPage .wrapBox .boxInsideWrap {
        content: '';
        height: 8.5vw;
        width: 8.5vw;
        border-radius: 1.5vw;
        margin-right: 3vw;
        margin-left: 3vw;
    }
    #thirdPage .wrapBox .wrapText {
        width: 70vw;
    }
    #thirdPage .wrapBox h1 {
        font-size: 4vw;
        margin-top: 3vw;
    }
    #thirdPage .wrapBox p {
        font-size: 3.1vw;
        margin-top: -5px;
    }
}

@media screen and (min-width: 900px) {
    #thirdPage .tittle {
        font-size: 3.25vw;
    }
    #thirdPage .wrapBox {
        width: 43vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
        border-radius: 1.5vw;
    }
    #thirdPage .wrapBox .boxInsideWrap {
        content: '';
        height: 3.5vw;
        width: 3.5vw;
        border-radius: 0.7vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    #thirdPage .wrapBox .wrapText {
        width: 35vw;
    }
    #thirdPage .wrapBox h1 {
        font-size: 1.5vw;
        margin-top: 1vw;
    }
    #thirdPage .wrapBox p {
        font-size: 1.1vw;
    }
}


/* End halaman ketiga */


/* Start halaman keempat */

#fourthPage {
    background-color: white;
}

#fourthPage .tittle h2 {
    font-weight: 900;
}

#fourthPage .boxFill {
    position: relative;
    overflow: hidden;
}

#fourthPage .boxBorder {
    content: '';
}

#fourthPage h1 {
    font-weight: 800;
    color: white;
}

#fourthPage p {
    font-weight: 400;
    color: #EFF2FC;
}

#fourthPage img {
    position: absolute;
}

@media screen and (max-width: 900px) {
    #fourthPage .tittle h2 {
        font-size: 6vw;
        width: 70vw;
        text-align: center;
    }
    #fourthPage .boxFill {
        /* background-color: #B20731; */
        padding: 4vw 5vw;
        border-radius: 7vw;
        width: 80vw;
        height: 50vw;
    }
    #fourthPage h1 {
        font-size: 3.5vw;
        /* background-color: #212121; */
        /* text-align: center; */
    }
    #fourthPage p {
        font-size: 2.4vw;
        width: 57vw;
        margin-bottom: 3vw;
    }
    #fourthPage img {
        height: 25vw;
        bottom: 0px;
        right: 5vw;
    }
}

@media screen and (min-width: 900px) {
    #fourthPage .tittle h2 {
        font-size: 4vw;
    }
    #fourthPage .boxFill {
        /* background-color: #B20731; */
        padding: 1.5vw 2vw;
        border-radius: 3vw;
        width: 60vw;
    }
    #fourthPage .boxBorder {
        content: '';
        width: 25vw;
        height: 1px;
        /* background-color: #212121; */
    }
    #fourthPage h1 {
        font-size: 2vw;
    }
    #fourthPage p {
        font-size: 1.3vw;
        width: 35vw;
        margin-bottom: 3vw;
    }
    #fourthPage img {
        height: 12vw;
        bottom: 0px;
        right: 5vw;
    }
}


/* End halaman keempat */


/* Start halaman kelima */

#fifthPage {
    background-color: #b20731;
    border-radius: 4vw 4vw 0px 0px;
    padding-top: 5vw;
    margin-top: -5vw;
    /* margin-bottom: 25vw; */
    position: relative;
}

#fifthPage .boxBorder {
    content: '';
    width: 43vw;
}

#fifthPage h1 {
    font-weight: 800;
    color: white;
    font-size: 3.5vw;
}

#fifthPage p {
    font-weight: 400;
    color: white;
    font-size: 1.6vw;
    width: 45vw;
}

#fifthPage button {
    background: #FFFFFF;
    border: none;
    font-weight: 700;
    width: 175px;
    height: 50px;
    font-size: 1.1vw;
    border-radius: 28.3636px;
    color: #B20731;
}

#fifthPage img {
    position: absolute;
    height: 30vw;
    bottom: -0px;
    left: -30px;
}


/* End halaman kelima */